/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.top-img {
    max-width:308px;
    max-height:300px;
    margin-right: 20px;
    float: left;
}
.event-img {
    max-width:308px;
    max-height:300px;
}