<link href="/lwwcm/rs/u/1020" rel="stylesheet" type="text/css" />
<div class="mockup-mobile-main">
    <div class="mockup-mobile-title">
        <h1>Ticket Monster's Magazine for Mobile</h1>
    </div>
    <wcm-list class="mockup-mobile-list">
        <div class="mockup-mobile-img"><wcm-link><wcm-img></wcm-img></wcm-link></div>
        <div class="mockup-mobile-text">
            <h2><wcm-link><wcm-title></wcm-title></wcm-link></h2>
            <p><wcm-excerpt max-length="180"> </wcm-excerpt></p>
        </div>
    </wcm-list>
    <div class="mockup-mobile-footer"></div>
</div>