<link href="/lwwcm/rs/u/458" rel="stylesheet" type="text/css" /><script type="text/javascript" src="/lwwcm/rs/u/479"></script>
<link href="http://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css" />
<div class="mockup-container">
    <div class="mockup-colB mockup-column">
        <div class="mockup-title">
            <wcm-single> <wcm-content></wcm-content> </wcm-single>
        </div>
        <!-- Carousel -->

        <div class="mockup-carousel_viewport">
            <div class="mockup-carousel_items">
                <wcm-list class="lwwcm-list-topnews" id="topnews">
                    <div class="mockup-item-image-topnews">
                        <wcm-link><wcm-img></wcm-img></wcm-link>
                    </div>

                    <div class="mockup-item-label">
                        <wcm-link class="mockup-item-label-title"><wcm-title></wcm-title></wcm-link>

                        <p>
                            <wcm-excerpt max-length="180"> </wcm-excerpt>
                        </p>
                    </div>

                </wcm-list>
                <div class="mockup-carousel_navigation" id="topnews_nav">
                     
                </div>

                <div class="mockup-carousel_navigation2" id="topnews_nav2">
                    <a href="javascript:;" id="topnews_nav_left" title="Previous Event"><</a> <span> </span> <a href="javascript:;" id="topnews_nav_right" title="Next Event">></a>    
                </div>
                <script>
                    navigation('topnews', 'topnews_nav');
                </script>
            </div>
        </div>
        <!-- Module -->

        <div class="mockup-module mockup-margin-right">
            <h2 class="mockup-red">
                <a href="/portal/classic/magazine/concert">Concert</a>
            </h2>
            <wcm-list class="lwwcm-single-concert" from="first" to="1">
                <div class="mockup-item-image-concert">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>
                <wcm-link class="mockup-item-concert-title mockup-red"><wcm-title></wcm-title></wcm-link>

                <p>
                    <wcm-excerpt> </wcm-excerpt>
                </p>

            </wcm-list>

            <wcm-list class="lwwcm-list-concert mockup-red" from="1" to="last">
                <wcm-link><wcm-title></wcm-title></wcm-link>
            </wcm-list>
        </div>

        <div class="mockup-module">
            <h2 class="mockup-blue">
                <a href="/portal/classic/magazine/sporting">Sporting</a>
            </h2>
            <wcm-list class="lwwcm-single-sporting" from="first" to="1">
                <wcm-link class="mockup-item-sporting-title mockup-blue"><wcm-title></wcm-title></wcm-link>

                <div class="mockup-item-image-sporting">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <p>
                    <wcm-excerpt> </wcm-excerpt>
                </p>

            </wcm-list>
            <div class="mockup-clear">
                 
            </div>

            <wcm-list class="lwwcm-list-sporting mockup-blue" from="1" to="last">
                <wcm-link><wcm-title></wcm-title></wcm-link>
            </wcm-list>
        </div>
    </div>

    <div class="mockup-colC mockup-column">
        <wcm-list class="lwwcm-list-spotlight" from="0" to="3">
            <wcm-link><wcm-img class="mockup-item-image-spotlight"></wcm-img></wcm-link>
            <wcm-iter i="0">
                <div class="mockup-item-title-spotlight mockup-red-background">
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </div>

            </wcm-iter>

            <wcm-iter i="1">
                <div class="mockup-item-title-spotlight mockup-green-background">
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </div>

            </wcm-iter>

            <wcm-iter i="2">
                <div class="mockup-item-title-spotlight mockup-blue-background">
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </div>

            </wcm-iter>
            <div class="mockup-item-description-spotlight">
                <wcm-excerpt max-length="120"> </wcm-excerpt>
            </div>

        </wcm-list>
    </div>
</div>
