<link href="/lwwcm/rs/u/458" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css"/>
<div class="mockup-container">
    <div class="mockup-category-title mockup-grey2-background mockup-margin-tlr">
        <wcm-param-single>
            <wcm-title></wcm-title>
        </wcm-param-single>
    </div>

    <div class="mockup-colC2 mockup-column-r">
        <!-- Sporting links -->
        <div class="mockup-post-related">
            <h2 class="mockup-blue">
                <a href="/portal/classic/magazine/sporting">Sporting</a>
            </h2>
            <wcm-list class="lwwcm-list-related" from="first" path="/Events/Sporting" to="3">
                <div class="mockup-related-item-img">
                    <wcm-link>
                        <wcm-img></wcm-img>
                    </wcm-link>
                </div>

                <div class="mockup-related-item-title mockup-blue-background">
                    <wcm-link>
                        <wcm-title></wcm-title>
                    </wcm-link>
                </div>

            </wcm-list>
        </div>
        <!-- Theatre links -->

        <div class="mockup-post-related">
            <h2 class="mockup-green">
                <a href="/portal/classic/magazine/theatre">Theatre</a>
            </h2>
            <wcm-list class="lwwcm-list-related" from="first" path="/Events/Theatre" to="3">
                <div class="mockup-related-item-img">
                    <wcm-link>
                        <wcm-img></wcm-img>
                    </wcm-link>
                </div>

                <div class="mockup-related-item-title mockup-green-background">
                    <wcm-link>
                        <wcm-title></wcm-title>
                    </wcm-link>
                </div>

            </wcm-list>
        </div>
    </div>

    <div class="mockup-colC2 mockup-column-r">
        <!-- Concert links -->
        <div class="mockup-post-related">
            <h2 class="mockup-red">
                <a href="/portal/classic/magazine/concert">Concert</a>
            </h2>
            <wcm-list class="lwwcm-list-related" from="first" path="/Events/Concert" to="3">
                <div class="mockup-related-item-img">
                    <wcm-link>
                        <wcm-img></wcm-img>
                    </wcm-link>
                </div>

                <div class="mockup-related-item-title mockup-red-background">
                    <wcm-link>
                        <wcm-title></wcm-title>
                    </wcm-link>
                </div>

            </wcm-list>
        </div>
    </div>

    <div class="mockup-post-date">
        <wcm-param-single>
            <wcm-created></wcm-created>
            <span class="mockup-post-author">| By <wcm-author></wcm-author></span>
        </wcm-param-single>
    </div>

    <div class="mockup-post-image">
        <wcm-param-single>
            <wcm-img index="0"></wcm-img>
        </wcm-param-single>
    </div>
    <wcm-param-single>
        <wcm-categories class="lwwcm-list-tags mockup-margin-tlr" type="tag">
            <wcm-link>
                <wcm-cat-name></wcm-cat-name>
            </wcm-link>
        </wcm-categories>
    </wcm-param-single>

    <div class="mockup-post-excerpt">
        <wcm-param-single>
            <wcm-excerpt></wcm-excerpt>
        </wcm-param-single>
    </div>

    <div class="mockup-post-body-inner">
        <!-- Share module -->
        <div class="mockup-share">
            <h2>
                Share
            </h2>

            <div class="mockup-share-link">
                <a href="https://www.facebook.com/sharer/sharer.php" target="_blank"><img src="/lwwcm/rs/u/741"/></a> <a
                    class="mockup-share-link-d" href="https://www.facebook.com/sharer/sharer.php" target="_blank">Facebook</a>
            </div>

            <div class="mockup-share-link">
                <a href="https://twitter.com/share" target="_blank"><img src="/lwwcm/rs/u/745"/></a> <a
                    class="mockup-share-link-d" href="https://twitter.com/share" target="_blank">Twitter</a>
            </div>

            <div class="mockup-share-link">
                <a href="https://plus.google.com/share" target="_blank"><img src="/lwwcm/rs/u/749"/></a> <a
                    class="mockup-share-link-d" href="https://plus.google.com/share" target="_blank">Plus!</a>
            </div>
        </div>
        <!-- Post body -->
        <wcm-param-single>
            <wcm-content skipimages="0"></wcm-content>
        </wcm-param-single>
    </div>
    <div class="mockup-post-comments">

        <wcm-param-single>

            <h2>Comments</h2>
            <wcm-comments>
                <div class="mockup-post-comment-a"><wcm-comment-created></wcm-comment-created> | By <wcm-comment-author></wcm-comment-author></div>
                <div class="mockup-post-comment-b"><wcm-comment-content></wcm-comment-content></div>
            </wcm-comments>

            <wcm-form-comments type="logged">
                <h2>New Comment</h2>
                <div class="mockup-comment-textarea"><wcm-form-content></wcm-form-content></div>
                <div class="mockup-comment-link"><wcm-form-button>Send comment</wcm-form-button></div>
            </wcm-form-comments>

            <wcm-form-comments type="anonymous">
                <h2>New Comment</h2>
                <div class="mockup-comment-author">
                    <span class="mockup-comment-label">Author:</span>
                    <wcm-form-author></wcm-form-author>
                </div>
                <div class="mockup-comment-email-url">
                    <span class="mockup-comment-label">Email:</span>
                    <wcm-form-email></wcm-form-email>
                </div>
                <div class="mockup-comment-email-url">
                    <span class="mockup-comment-label">Url:</span>
                    <wcm-form-url></wcm-form-url>
                </div>
                <div class="mockup-comment-textarea"><wcm-form-content></wcm-form-content></div>
                <div class="mockup-comment-link"><wcm-form-button>Send comment</wcm-form-button></div>
            </wcm-form-comments>

        </wcm-param-single>
    </div>
</div>
