<link href="/lwwcm/rs/u/458" rel="stylesheet" type="text/css" /><script type="text/javascript" src="/lwwcm/rs/u/479"></script>
<link href="http://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css" />
<div class="mockup-container">
    <div class="mockup-colB mockup-column">
        <div class="mockup-category-title mockup-grey2-background">
            <wcm-param-name></wcm-param-name>
        </div>

        <div class="mockup-top1">
            <wcm-param-list from="first" to="3">
                <h2>
                    <wcm-created></wcm-created>
                </h2>

                <h1>
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </h1>

                <div class="mockup-top1-left">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <div class="mockup-top1-right">
                    <wcm-excerpt></wcm-excerpt>
                </div>

                <div class="mockup-clear">
                     
                </div>
            </wcm-param-list>
        </div>

        <div class="mockup-top2">
            <wcm-param-list from="3" to="last">
                <p>
                    <wcm-created></wcm-created>
                </p>

                <h1>
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </h1>

                <p>
                    <wcm-excerpt></wcm-excerpt>
                </p>
            </wcm-param-list>
        </div>
    </div>

    <div class="mockup-colC mockup-column">
        <!-- Module -->
        <div class="mockup-module mockup-margin-right">
            <h2 class="mockup-blue mockup-no-margin-top">
                <a href="/portal/classic/magazine/sporting">Sporting</a>
            </h2>
            <wcm-list class="lwwcm-single-concert" from="first" index="0" to="1">
                <div class="mockup-item-image-concert">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>
                <wcm-link class="mockup-item-concert-title mockup-blue"><wcm-title></wcm-title></wcm-link>

                <p>
                    <wcm-excerpt> </wcm-excerpt>
                </p>

            </wcm-list>

            <wcm-list class="lwwcm-list-concert mockup-blue" from="1" index="0" to="last">
                <wcm-link><wcm-title></wcm-title></wcm-link>
            </wcm-list>
        </div>

        <div class="mockup-module">
            <h2 class="mockup-green">
                <a href="/portal/classic/magazine/theatre">Theatre</a>
            </h2>
            <wcm-list class="lwwcm-single-sporting" from="first" index="2" to="1">
                <wcm-link class="mockup-item-sporting-title mockup-green"><wcm-title></wcm-title></wcm-link>

                <div class="mockup-item-image-sporting">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <p>
                    <wcm-excerpt> </wcm-excerpt>
                </p>

            </wcm-list>
            <div class="mockup-clear">
                 
            </div>

            <wcm-list class="lwwcm-list-sporting mockup-green" from="1" index="2" to="last">
                <wcm-link><wcm-title></wcm-title></wcm-link>
            </wcm-list>
        </div>
    </div>
</div>
