<link href="/lwwcm/rs/u/660" rel="stylesheet" type="text/css" />
<link href="http://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet" type="text/css" />
<div class="mockup-container">
    <div class="mockup-concert-title mockup-red-background">
        Concert
    </div>

    <div class="mockup-colB mockup-column">
        <!-- 1st post -->
        <div class="mockup-concert-header">
            <wcm-list class="lwwcm-list-concert-new" from="first" to="1">
                <div class="mockup-concert-new">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <div class="mockup-concert-new-desc">
                    <div>
                        <wcm-created></wcm-created>
                    </div>
                    <wcm-link class="mockup-concert-new-title mockup-red-background"> <wcm-title></wcm-title> </wcm-link>

                    <p>
                        <wcm-excerpt></wcm-excerpt>
                    </p>

                    <ul class="lwwcm-list-tags">
                        <li>
                            <a href="#tag1">Tag1</a>
                        </li>
                        <li>
                            <a href="#tag2">Tag2</a>
                        </li>
                        <li>
                            <a href="#tag3">Tag3</a>
                        </li>
                    </ul>
                </div>

            </wcm-list>
            <div class="mockup-clear">
                 
            </div>
        </div>
        <!-- From 2nd to last concert posts-->

        <div class="mockup-concert-other-header">
            <wcm-list class="lwwcm-list-concert-other" from="1" to="last">
                <div class="mockup-concert-other">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <div class="mockup-concert-other-desc">
                    <div>
                        <wcm-created></wcm-created>
                    </div>
                    <wcm-link class="mockup-concert-other-title mockup-red"><wcm-title></wcm-title></wcm-link>

                    <p>
                        <wcm-excerpt></wcm-excerpt>
                    </p>

                    <ul class="lwwcm-list-tags">
                        <li>
                            <a href="#tag1">Tag1</a>
                        </li>
                        <li>
                            <a href="#tag2">Tag2</a>
                        </li>
                        <li>
                            <a href="#tag3">Tag3</a>
                        </li>
                    </ul>
                </div>

            </wcm-list>
        </div>
    </div>

    <div class="mockup-colC mockup-column">
        <!-- Theatre links -->
        <div class="mockup-post-related">
            <h2 class="mockup-green">
                <a href="/portal/classic/magazine/theatre">Theatre</a>
            </h2>
            <wcm-list class="lwwcm-list-related" from="first" to="3">
                <div class="mockup-related-item-img">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <div class="mockup-related-item-title mockup-green-background">
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </div>

            </wcm-list>
        </div>
        <!-- Sporting links -->

        <div class="mockup-post-related">
            <h2 class="mockup-blue">
                <a href="/portal/classic/magazine/sporting">Sporting</a>
            </h2>
            <wcm-list class="lwwcm-list-related" from="first" to="3">
                <div class="mockup-related-item-img">
                    <wcm-link><wcm-img></wcm-img></wcm-link>
                </div>

                <div class="mockup-related-item-title mockup-blue-background">
                    <wcm-link><wcm-title></wcm-title></wcm-link>
                </div>

            </wcm-list>
            <!-- Metro links -->
            <div class="mockup-subway-maps">
                <h2>
                    Subway maps
                </h2>
                <wcm-file-list> <wcm-link target="_blank"><wcm-description></wcm-description></wcm-link> </wcm-file-list>
            </div>
        </div>
    </div>
</div>

