.mockup-grey1 {
    color: #2b2b2b;
}
.mockup-grey2 {
    color: #363636;
}
.mockup-grey3 {
    color: #494949;
}
.mockup-grey4 {
    color: #6d6d6d;
}
.mockup-grey5 {
    color: #929292;
}
.mockup-white {
    color: #fff;
}
.mockup-blue1-background {
    background: none repeat scroll 0 0 rgba(0, 117, 173, 0.70)
}
.mockup-post-date {
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    height: 20px;
    line-height: 20px;
}
.mockup-post-author {
    font-weight: normal;
}
.mockup-post-twitter {
    position: absolute;
    right: 0;
    top: 0;
}
.mockup-post-title {
    font-family: Arial,sans-serif;
    font-size: 0.9em;
}
.mockup-post-title h1 {
    margin-top: 8px;
    padding-top: 4px;
    margin-left: 8px;
    margin-bottom: 5px;
    padding-bottom: 4px;
}
.mockup-post-image {
    margin-top: 5px;
    width: 450px;
    height: 252px;
    overflow: hidden;
}
.mockup-post-image img {
    height:auto;
    width:auto;
    max-width:450px;
}
.mockup-post-excerpt {
    margin-top: 8px;
    font-family: Arial,sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}
.mockup-post-body {
    font-family: Arial,sans-serif;
    font-size: 1em;
    width: 464px;
    float: left;
    top: 0px;
    left: 0px;
}
.mockup-post-container {

}
.mockup-post-related {
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    float: left;
    width: 148px;
    top: 250px;
    right: 0px;
}
.mockup-post-related h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid #d3d3d3;
}
.mockup-post-related h2 a {
    text-decoration: none;
    color: inherit;
}
.mockup-post-related h2 a:hover {
    text-decoration: underline;
}
.lwwcm-list-related {
    margin: 0;
    padding: 0;
}
.lwwcm-list-related li {
    list-style-type: none;
    width: 148px;
    height: 100px;
    margin-bottom: 8px;
    position: relative;
    background-color: #000;
}
.mockup-related-item-img {
    margin-top: 5px;
    width: 148px;
    height: 100px;
    overflow: hidden;
}
.mockup-related-item-img img {
    height:auto;
    width:auto;
    max-width:148px;
}
.mockup-related-item-title {
    padding: 5px 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 0.9em;
    color: #fff;
}
.mockup-related-item-title a {
    text-decoration: none;
    color: inherit;
}
.mockup-related-item-title a:hover {
    text-decoration: underline;
}