.mockup-container {
    overflow: auto;
    width: 964px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial,sans-serif;
    color: #505050;
}
.mockup-column {
    float: left;
}
.mockup-colB {
    overflow: auto;
    width: 784px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
}
.mockup-colC {
    padding-top: 7px;
    padding-left: 8px;
    padding-right: 8px;
    width: 148px;
}
.mockup-theatre-title {
    height: 40px;
    font-family: "Rokkitt", serif;
    font-size: 40px;
    letter-spacing: 0;
    margin: 8px 8px 0px 8px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    color: #fff;
}
.mockup-theatre-header {
    position: relative;
}
.mockup-red {
    color: #a30000;
}
.mockup-blue {
    color: #0076bc;
}
.mockup-green {
    color: #457d1e;
}
.mockup-post-related h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid #d3d3d3;
    font-size: 1.6em;
}
.mockup-post-related h2 a {
    text-decoration: none;
    color: inherit;
}
.mockup-post-related h2 a:hover {
    text-decoration: underline;
}
.lwwcm-list-related {
    margin: 0;
    padding: 0;
}
.lwwcm-list-related li {
    list-style-type: none;
    width: 148px;
    height: 100px;
    margin-bottom: 8px;
    position: relative;
    background-color: #000;
}
.mockup-related-item-img {
    margin-top: 5px;
    width: 148px;
    height: 100px;
    overflow: hidden;
}
.mockup-related-item-img img {
    height:auto;
    width:auto;
    max-width:148px;
}
.mockup-related-item-title {
    padding: 5px 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 1.2em;
    color: #fff;
}
.mockup-related-item-title a {
    text-decoration: none;
    color: inherit;
}
.mockup-related-item-title a:hover {
    text-decoration: underline;
}
.mockup-green-background {
    background: none repeat scroll 0 0 rgba(69, 125, 30, 1);
}
.mockup-blue-background {
    background: none repeat scroll 0 0 rgba(0, 118, 188, 0.80);
}
.mockup-red-background {
    background: none repeat scroll 0 0 rgba(163, 0, 0, 0.80);
}
.mockup-grey-background {
    background: none repeat scroll 0 0 #d3d3d3;
}
.lwwcm-list-theatre-new {
    margin: 0;
    padding: 0;
}
.lwwcm-list-theatre-new li {
    display: block;
    list-style-type: none;
    width: 784px;
    position: relative;
}
.mockup-theatre-new {
    margin-top: 5px;
    width: 392px;
    height: 200px;
    overflow: hidden;
    float: left
}
.mockup-theatre-new img {
    height:auto;
    width:auto;
    max-width: 392px;
}
.mockup-theatre-new-desc {
    margin-top: 5px;
    margin-left: 8px;
    width: 384px;
    overflow: hidden;
    float: left
}
.mockup-theatre-new-desc p {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 1.4em;
}
.mockup-theatre-new-desc div {
    font-weight: bold;
    font-size: 1.2em;
}
.mockup-theatre-new-title {
    display: block;
    font-family: "Rokkitt", serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin-top: 4px;
    padding-top: 4px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-bottom: 4px;
    padding-left: 8px;
}
.mockup-theatre-new-title:hover {
    text-decoration: underline;
}
.lwwcm-list-tags {
    margin: 0;
    padding: 0;
}
.lwwcm-list-tags li {
    display: inline !important;
    list-style-type: none;
}
.lwwcm-list-tags a {
    display: inline;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 2px 0 2px 0px;
    padding: 2px 4px 2px 4px;
    background: none repeat scroll 0 0 #bdbdbd;
}
.lwwcm-list-tags a:hover {
    text-decoration: underline;
    background-color: #939393;
}
.mockup-clear {
    clear: both;
}
.mockup-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}
.lwwcm-list-theatre-other {
    margin: 0;
    padding: 0;
}
.lwwcm-list-theatre-other li {
    display: inline-block;
    list-style-type: none;
    width: 248px;
    margin: 0 6px 10px 6px;
    position: relative;
    vertical-align: top;
}
.mockup-theatre-other {
    margin-top: 5px;
    width: 248px;
    height: 165px;
    overflow: hidden;
    float: left
}
.mockup-theatre-other img {
    height:auto;
    width:auto;
    max-width: 247px;
}
.mockup-theatre-other-desc {
    width: 248px;
    overflow: hidden;
}
.mockup-theatre-other-desc p {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 1.4em;
}
.mockup-theatre-other-desc div {
    margin-top: 8px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.2em;
}
.mockup-theatre-other-title {
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0px;
    padding-top: 4px;
    margin-bottom: 0px;
    padding-bottom: 4px;
}
.mockup-theatre-other-title:hover {
    text-decoration: underline;
}
.mockup-theatre-other-header {
    margin: 0px 0 8px 0;
    padding: 8px 0 8px 0;
    border-top: 2px solid #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
}
.mockup-airport-maps {

}
.mockup-airport-maps h2 {
    font-size: 1.6em;
    color:#4c4c4c;
}
.mockup-airport-maps ul {
    margin: 0;
    padding: 0;
}
.mockup-airport-maps li {
    list-style-type: none;
    font-size: 1.4em;
    margin: 4px 0 4px 0;
}
.mockup-airport-maps a {
    text-decoration: underline;
}
.mockup-airport-maps a:hover {
    text-decoration: none;
}





